.theme-rounded {
  .file-agent {
    .file-preview-wrapper {
      border-radius: 15px;
      overflow: hidden;
      border-width: 5px !important;
    }
    .file-progress {
      &.file-progress-done {
        top: 1px !important;
        right: 1px !important;
      }
    }
  }

  .grid-block-wrapper {
    padding: 5px !important;
  }

  &.layout-list,
  .layout-list {
    .file-preview-wrapper {
      border-radius: 12px;
      overflow: hidden;
      border-width: 3px !important;
    }
  }
}
